.admin-page-title{
    font-weight: normal;
}
.admin-add-button{
    margin-top: 20%;
}
.admin-page-filter-input{
    background-color: transparent;
    border: 0;
    width: 6.25em;
    padding: 0 .3em;
    text-decoration: underline;
    color: #48698a !important;
    cursor: pointer;
}
.admin-modal-links{
    font-weight: bold;
}
#admin-invoice-grand-total{
    font-size: larger;
    padding-right: 2%;
}