/**
 *Body styles
 */
body{
    background-color: #f1f3f5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Segoe UI', 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
hr.inset {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1.5em 0;
}
.interpresense-loader{
    display: none;
}
.modal-wide{
    width: 50% !important;
}

/**
 *Body header styles
 */
header{
    background-color: #CCD1D9;
}
header .header-options-container{
    margin-top: 18%;
}
header .org-parent-name{
    margin-bottom: 0;
}
header .org-name{
    font-weight: normal;
    margin-top: 0.1em;
}
header .org-logo{
    width: 90%;
    margin-top: 8%;
}

/**
 *Body footer styles
 */
.footer-container{
    margin-top: 6em;
    margin-bottom: 2em;
}
footer .dev-social{
    color: inherit;
    font-weight: bold;
}
footer .dev-logo{
    width: 5%;
}

/**
 *Form styles
 */
.input-top{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
.input-center{
    border-radius: 0;
}
.input-top, .input-center{
    border-bottom: 0;
}
.input-bottom{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/**
 *Table styles
 */
.table-option-cell{
    text-align: right;
}
.table-option-cell .btn{
    margin: 0 .2em;
}
.highlighted-row, .highlighted-row:hover {
    background-color: #b8e6f6;
}
.highlighted-row td, .highlighted-row th {
    background-color: inherit !important;
}
.empty-table-placeholder{
    text-align: center;
    color: #808080;
}

/**
 *Bootstrap over-ride styles
 */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
.modal-dialog-vertical-center{
    margin-top: 10% !important;
}
.datepicker{
    z-index: 1151 !important;
}

/**
 *DataTables over-ride styles
 */
/* @todo: remove ugly datatables row colors (row highlighting broken until this is done) */

/**
 *External and error pages
 */
header.external-page-header{
    background-color: #f1f3f5;
    position: relative;
    top: 1em;
}
.external-page-logo{
    width: 35%;
}
.external-page-btn-redirect{
    margin-top: 25%;
}
.error-code{
    font-size: 10em !important;
    color: #720014 !important;
}
h1.error-description{
    margin-top: 0;
    font-weight: bold;
}
.error-code-container{
    background-color: #e6e9ed;
    padding-bottom: 0.8em;
}
.error-explanation{
    margin-bottom: 2em;
}