h3{
    font-weight: normal;
}
.invoice-total{
    text-align: center;
}
.invoice-total h3{
    font-size: 1.4em;
}
#invoice-total-dollar-amount{
    font-size: 1.6em !important;
    font-weight: bold;
}
.invoice-for{
    text-align: right;
}
.invoice-items-container{
    margin-top: 1em;
}
.invoice-button-container{
    margin-top: 8em;
}
.invoice-table{
    margin-bottom: 0em !important;
}
.invoice-table thead th{
    text-transform: uppercase;
}
.invoice-buttons{
    height: 2.4em;
    font-size: 1.2em;
}
.page-title{
    font-weight: normal;
}
.invoice-instructions{
    color: #666;
}
.invoice-instructions .page-title{
    margin-top: 0.2em;
}